Makefile
Makefile.in
Makefile.in.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/intltool.m4
/missing
/stamp-h?
/po/stamp-it
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.o
gdar
*.gmo
intltool-extract.in
intltool-merge.in
intltool-update.in
po/POTFILES
compile
*.autosave
*.log
*.trs
test_gdar
test-driver
