[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gdar
Comment=Gdar
Exec=gdar
Icon=gdar
Terminal=false
Type=Application
StartupNotify=true
Categories=Archiving;X-GNOME;GTK;Utility;
Keywords=Archive;dar;backup;
