[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gdar
Comment=Gdar
Exec=gdar
Icon=package
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
Keywords=Archive,dar,backup
