name: cpp

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: prepare
      run: |
        sudo apt-get update 
        sudo apt-get install make gcc g++ libgtkmm-3.0-dev libgcrypt20-dev libtool intltool libattr1-dev libdar-dev libbz2-1.0 libbz2-dev libbz2-ocaml libbz2-ocaml-dev liblzo2-dev gnome-icon-theme-symbolic libgpgme-dev
    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure --enable-libdar64
    - name: make
      run: make
